body{
background-color: #34314c;
}
.error{
	float:left;
	font-size: 300px;
	color:#ffffff;
}
.affjour{
	font-size: 350px;
	margin-left:50px;
	width: 1200px;
	text-align: center;
	color:#D499B9; ;
}
#alert{
	background-color:#ff7473;
	font-size: 100px; 
	margin-left:20px;
}
.overlay{
	clear:left;
	color:#47b8e0;
	font-size:30px;
	margin-left:450px;	
	margin-bottom:10px;
}
#jour{
	margin-left:450px;
	border:#47b8e0 solid; 
	background-color:#34314c;
	color: #47b8e0 ;
}
#mois{
	border:#47b8e0 solid; 
	background-color:#34314c;
	color:#47b8e0 ;
}
#annee{
	border:#47b8e0 solid; 
	background-color:#34314c;
	color:#47b8e0 ;
}
#dd{
	float: left;
}
#mm{
	float:left;
	margin-left:125px;
	margin-right:37px;
}
.verifie{
	margin-left: 630px;
	margin-top:20px;
	border:#47b8e0 solid; 
	background-color:#34314c;
	color:#47b8e0 ;
	font-size:20px;
}
.restart{
	border:#D499B9 solid; 
	background-color:#34314c;
	color:#D499B9 ;
	font-size:30px;
	margin-left:600px;
}