body{
	background-color: #34314c;
}
.error{
	border: solid; 
	border-color:#34314c;
	background-color :#ff7473;
}
.overlay{
	color: #47b8e0;
	background-color: #34314c;
	margin-left: 500px;
	margin-bottom: 20px;
	font-size:20px;
	}
#jour{
	color:#47b8e0;
	background-color: #34314c;
	border-color:#47b8e0 ;
	margin-left: 500px;
}
#mois{
	color:#47b8e0;
	background-color: #34314c;
	border-color:#47b8e0 ;
}
#annee{
	color:#47b8e0;
	background-color: #34314c;
	border-color:#47b8e0 ;
}
#verifie{
	color:#47b8e0;
	background-color: #34314c;
	border-color:#47b8e0 ;
}
#restart{
	color:#47b8e0;
	background-color: #34314c;
	border-color:#47b8e0 ;
}
#dd{
	margin-bottom:20px;
}
#mm{
	margin-left:147px ;
	
}
#yy{
	margin-left:55px;
}

